@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  direction: rtl;
  font-family: Arial, sans-serif;
}

@media print {
  body * {
    visibility: hidden;
  }
  #print-area, #print-area * {
    visibility: visible;
  }
  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 210mm;
    height: 297mm;
  }
}