name: Build macOS

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22  # Changed to 22

      - name: Install Dependencies
        run: npm ci

      - name: Build macOS
        run: npm run make -- --platform=darwin --arch=arm64

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-app-macos
          path: out/make/**/*.zip